#!/usr/bin/env ruby

route '/HelloBlockies/' do 
  '/HelloBlockies/index.html' 
end
compile '/HelloBlockies/' do
  filter :haml
  layout  '_HB'
end
route "/HelloBlockies/*" do
  nil
end
compile '/HelloBlockies/*' do
  filter :haml
end

# Stylesheets in `s` directory
compile '/_stylesheets/*' do
  if item[:extension] == 'scss'
    filter :erb
    filter :sass, {:syntax => :scss}
    filter :cssmerge
  end
end
route '/_stylesheets/parts/*' do
end
route '/_stylesheets/*/' do
  '/s/' + item.identifier[14..-2] + '.css'
end

# Javascripts in `j` directory
compile '/_javascripts/*' do
end
route '/_javascripts/*/' do
  '/j/' + item.identifier[14..-2] + '.js'
end

# Different defaults based on extensions
compile '*' do
  if !item.binary?
    case item[:extension]
    when 'md'
      filter :erb # 'cause there is no anythink alike in makuku
      filter :maruku, {:attr_wrapper => '"'}
    when 'haml'
      filter :haml, {:attr_wrapper => '"'}
    when 'sass'
      filter :sass
    else
      filter :erb
    end

    if item[:extension] != 'scss'
      # Default layout for everyone except sass
      if item[:layout]
        layout item[:layout]
      else
        layout 'default'
      end
    end

    # some codestyle (TODO: move all hardcoded codestyle decisions to config)
    filter :htmlcodestyle
    
    # relative paths to html and css for better use of static files
    filter :relativize_paths, :type => :html
    filter :relativize_paths, :type => :css
  end
end

route '*' do 
  if item.binary? 
    item.identifier.chop + '.' + item[:extension] 
  else 
    item.identifier + 'index.html' 
  end 
end

# Using HAML for layouts by default
layout '*', :haml, {:attr_wrapper => '"'}
