---
title: "Articles"
page_id: "articles"
---

%h2.b-header.b-header_big.b-header_v2
  Профилактика заболеваний
  %sup>
    32

.b-page-content.b-cols
  .b-col.b-col_tight>
    %ul.b-menu.b-menu_v<
      %li.b-menu-item.b-menu-item_current><
        %a.b-menu-item-in Профилактика заболеваний
      %li.b-menu-item><
        %a.b-menu-item-in{:href => "#lol"}
          Удаление зубов
          %sup>
            11
      %li.b-menu-item><
        %a.b-menu-item-in{:href => "#lol"}
          Брекет-системы
          %sup>
            8
      %li.b-menu-item><
        %a.b-menu-item-in{:href => "#lol"}
          Протезы
          %sup>
            5
      %li.b-menu-item><
        %a.b-menu-item-in{:href => "#lol"}
          Строение челюсти
          %sup>
            2
  .b-col.b-col_middle>
    .b-snippet
      .b-snippet-figure
        %img.b-snippet-pic{:src => "http://placekitten.com/200/134", :alt => ""}/
      %h3.b-header
        %a.b-link{:href => "#lol"}<
          Что нужно знать про металлокерамические коронки — максимум из четырех строк
      %ul.b-snippet-meta
        %li.b-snippet-meta-item
          15 cентября
        %li.b-snippet-meta-item
          %a.b-link{:href => "#lol"}
            Профилактика заболеваний
      .b-snippet-content
        Вопрос о том, какой способ реставрации лучше восстановит разрушенный зуб, вкладка, коронка или традиционная пломба, волнует многих пациентов.
        %ul.b-snippet-meta
          %li.b-snippet-meta-item
            %a.b-link.b-link_comments{:href => "#lol"}
              18 комментариев
    .b-snippet
      .b-snippet-figure
        %img.b-snippet-pic{:src => "http://placekitten.com/200/134", :alt => ""}/
      %h3.b-header.b-header_v2
        %a.b-link.b-link_w.b-link_multiline{:href => "#lol"}>
          %span.b-link-in><
            Лазерная имплантация зубов: быстро, качественно, надежно
        %a.b-link.b-link_footnote{:href => "#Footnote"}> *
      %ul.b-snippet-meta
        %li.b-snippet-meta-item
          26 ноя
        %li.b-snippet-meta-item
          %a.b-link{:href => "#lol"}
            Протезы
      .b-snippet-content
        Вопрос о том, какой способ реставрации лучше восстановит разрушенный зуб, вкладка, коронка или традиционная пломба, волнует многих пациентов.
        %ul.b-snippet-meta
          %li.b-snippet-meta-item
            %a.b-link.b-link_comments{:href => "#lol"}
              18 комментариев
    .b-snippet
      .b-snippet-figure
        %img.b-snippet-pic{:src => "http://placekitten.com/200/134", :alt => ""}/
      %h3.b-header
        %a.b-link{:href => "#lol"}<
          Керамические виниры — преображение вашей улыбки
      %ul.b-snippet-meta
        %li.b-snippet-meta-item
          8 ноя
        %li.b-snippet-meta-item
          %a.b-link{:href => "#lol"}
            Строение челюсти
      .b-snippet-content
        Керамические виниры — один из самых быстрых, эффективных и надежных методов сделать зубы по-настоящему красивыми. По мнению большинства стоматологов, использование виниров является лучшим способом сделать зубы ослепительно белыми.
        %ul.b-snippet-meta
          %li.b-snippet-meta-item
            %a.b-link.b-link_comments{:href => "#lol"}
              18 комментариев
    %A.b-link.b-link_archive.b-header.b-header_v2{:href => "#lol"} Архив раздела
    .b-footnotes
      .b-footnotes-in
        %dl.b-footnote#Footnote
          %dt.b-footnote-mark *
          %dt.b-footnote-content В статье присутствуют рекламные материалы

  .b-col.b-col_narrow>
    .b-snippet.b-snippet_minor
      .b-snippet-figure
        %img.b-snippet-pic{:src => "http://placekitten.com/89/134", :alt => ""}/
      %h3.b-header.b-header_v2
        %a.b-link.b-link_w.b-link_multiline{:href => "#lol"}
          %span.b-link-in><
            Ксилит — сладкое средство для борьбы с кариесом
        %a.b-link.b-link_footnote{:href => "#Footnote"}> *
      %ul.b-snippet-meta
        %li.b-snippet-meta-item
          15 cентября
        %li.b-snippet-meta-item
          %a.b-link{:href => "#lol", :rel => "tag"}
            Брекет-системы
      .b-snippet-content
        Ксилит — это многоатомный спирт, который существует как в природе (фруктах, овощах, растениях), так и производится в промышленности.
        %ul.b-snippet-meta
          %li.b-snippet-meta-item
            %a.b-link.b-link_comments{:href => "#lol"}
              нет комментариев
    .b-ad
      Рекламочка
      .b-ad-in
        %img.b-ad-pic{:src => "http://placekitten.com/240/400", :alt => ""}/
    .b-snippet.b-snippet_minor
      .b-snippet-figure
        %img.b-snippet-pic{:src => "http://placekitten.com/89/134", :alt => ""}/
      %h3.b-header
        %a.b-link{:href => "#lol"}<
          Требования к детской зубной пасте для детей до 6 лет
      %ul.b-snippet-meta
        %li.b-snippet-meta-item
          15 cентября
        %li.b-snippet-meta-item
          %a.b-link{:href => "#lol", :rel => "tag"}
            Удаление зубов
      .b-snippet-content
        Детские зубные пасты — этоне только более маленькие и красочные тюбики. 
        %ul.b-snippet-meta
          %li.b-snippet-meta-item
            %a.b-link.b-link_comments{:href => "#lol"}
              2 комментария

