---
title: "Article"
page_id: "article"
---

.b-page-content.b-cols
  %aside.b-page-sidebar.b-col.b-col_tight>
    %ul.b-menu.b-menu_v<
      %li.b-menu-item.b-menu-item_current><
        %a.b-menu-item-in{:href => "#lol"} Профилактика заболеваний
      %li.b-menu-item><
        %a.b-menu-item-in{:href => "#lol"}
          Удаление зубов
          %sup>
            11
      %li.b-menu-item><
        %a.b-menu-item-in{:href => "#lol"}
          Брекет-системы
          %sup>
            8
      %li.b-menu-item><
        %a.b-menu-item-in{:href => "#lol"}
          Протезы
          %sup>
            5
      %li.b-menu-item><
        %a.b-menu-item-in{:href => "#lol"}
          Строение челюсти
          %sup>
            2
  %article.b-article.b-col.b-col_middle>
    %h1.b-header.b-header_v2.b-header_big
      Заголовок 1 уровня
    .b-article-meta
      %time 15 декабря
    .b-disclaimer
      Рекламная статья
    .b-incut.b-incut_full.b-incut.b-incut_quirky
      .b-incut-content
        .b-incut-item.b-snippet.b-snippet_mini
          .b-snippet-figure
            %img.b-snippet-pic{:src => "http://placekitten.com/100/100", :alt => ""}/
          .b-snippet-content
            %h3.b-snippet-header Автор статьи
            %a.b-link.b-header.b-header_minor(href='#lol') Константин<br/>Константинопольский
            .b-snippet-meta.b-snippet-meta_online
              .b-ico.b-ico_pseudo.b-ico_bullet •
              На сайте
            %a.b-button(href='#lol')<
              %span.b-button-in<
                Задать вопрос
        .b-incut-divider
        .b-incut-item.b-snippet.b-snippet_mini.b-incut-half
          %h3.b-snippet-header Автор работает в клинике
          .b-snippet-figure
            %img.b-snippet-pic{:src => "http://placekitten.com/60/60", :alt => ""}/
          .b-snippet-content
            %a.b-link.b-header.b-header_minor.b-header_v2(href='#lol') Dental Tooth Studio
            .b-snippet-meta (831) 438-02-38
            .b-snippet-meta (831) 438-02-38
            .b-snippet-meta
              %a.b-link.b-link_w(href='#lol')<
                %b.b-ico.b-ico_pseudo.b-ico_external
                  %b.b-ico-i1
                  %b.b-ico-i2
                %span.b-link-in><
                  dentalstudio.ru
      .b-incut-helper

    .b-article-text.b-text.b-text_ad
      %figure
        %img{:src => "http://placekitten.com/489/241", :alt => ""}
      %header.b-article-intro
        %pУлыбки бывают разными: широкими, озорными, застенчивыми, но красота каждой улыбки во многом зависит от правильного положения зубов. Многие люди стесняются своей улыбки и чувствуют себя из-за этого скованно и неуверенно, но не решаются обратиться к специалисту, потому что не до конца понимают, что такое брекеты, а многие даже думают, что они приносят больше вреда, чем пользы. Так что же такое брекеты и зачем они нужны?
      %h2 Что такое брекеты?

      .b-ad.b-ad_aside
        .b-ad-title Рекламочка
        .b-ad-in
          %img.b-ad-pic{:src => "http://placekitten.com/240/400", :alt => ""}/

      %p
        Брекет система — это система, предназначенная для придания зубам правильного положения. А сами брекеты это маленькие
        %a.b-link.b-link_w.b-link_js<
          «
          %span.b-link-in> замочки
          »
        с пазом посередине, прикрепляемые к зубу специальным «клеем», которые начинают работать только после вставления в их паз дуги. Дуга и брекеты скрепляются
        %a(href="#lol") лигатурой
        — проволочной или резиновой. Дуга прогибается, вставляясь в брекет, и старается вернуться в свое первоначальное положение и тянет за собой зуб, за счет чего и происходит выравнивание.

      %h2 Отклонения от нормы сроков прорезывания зубов
      %p Задержка сроков прорезывания может быть связана с перенесенным инфекционным заболеванием, длительным нарушением функции желудочно-кишечного тракта (диспепсические расстройства), нарушением обмена веществ (например, при врожденной недостаточности фермента фенилаланиноксидазы (заболевание фенилкетонурия)), дефицитом витамина D (рахит), гипофизарной недостаточностью, генетическими факторами.
      
      %h2 Как же подбирается брекет система?
      %p Для пациентов основную роль играет внешний вид брекетов и ценовая категория, за счет чего окончательный выбор всегда остается за пациентом, но с клинической точки зрения для каждого конкретного случая бывает лучше та или иная система, поэтому следует прислушаться к рекомендациям вашего лечащего врача. 
      %p В современной ортодонтии существует множество брекет систем. Основными являются металлические, керамические, сапфировые, самолигирующие и лингвальные брекеты.
      
      %h3 Металлические брекеты
      %figure
        %img{:src => "http://placekitten.com/450/340", :alt => ""}
        %figcaption
          металлокерамические коронки выглядят очень естественно
      %p Металлические брекеты являются наименее эстетичным, поэтому многие пациенты сразу же отказываются от их использования. Они просто не знают, что такие брекеты имеют довольно весомые плюсы: минимальная цена, что имеет немаловажное значение, сокращение сроков лечения за счет меньшего трения между дугой и пазом брекета. Помимо этого металлическая конструкция позволяет уменьшить размеры самого брекета. А для любителей драгоценных металлов существуют брекеты, изготовленные из сплавов на основе золота:
      
      %h3 Керамические брекеты
      %p Керамические брекеты обладают хорошими эстетическими свойствами, за счет чего очень популярны. Но имеют несколько относительных минусов: увеличение сроков лечения, за счет большей силы трения между дугой и пазом брекета, поломка, сколы брекетов или возможность неприятных ощущений при снятии брекетов, а также они дороже и больше по размеру, чем металлические.
    %aside
      .b-incut
        .b-incut-header Качественные брекеты немецкого производства вы сможете приобрести в следующих кликах:
        .b-incut-content.b-cols
          .b-col.b-col_half>
            .b-snippet.b-snippet_mini
              .b-snippet-figure
                %img.b-snippet-pic{:src => "http://placekitten.com/100/100", :alt => ""}/
              .b-snippet-content
                %a.b-link.b-header.b-header_minor.b-header_v2(href='#lol') Dental Studio
                .b-snippet-meta.b-snippet-meta_address Москва, Бабушкинский район, Летчика Бабушкина ул., дом 23 (вход со двора)
                .b-snippet-meta.b-snippet-meta_address Метро ст. Бабушкинская, Отрадное, Медведково.
                .b-snippet-meta
                  %a.b-link.b-link_w(href='#lol')<
                    %b.b-ico.b-ico_pseudo.b-ico_external
                      %b.b-ico-i1
                      %b.b-ico-i2
                    %span.b-link-in><
                      dentalstudio.ru
          .b-col.b-col_half>
            .b-snippet.b-snippet_mini
              .b-snippet-figure
                %img.b-snippet-pic{:src => "http://placekitten.com/100/100", :alt => ""}/
              .b-snippet-content
                %a.b-link.b-header.b-header_minor.b-header_v2(href='#lol') А-Дент
                .b-snippet-meta.b-snippet-meta_address Москва, Бабушкинский район, Летчика Бабушкина ул., дом 23 (вход со двора)
                .b-snippet-meta.b-snippet-meta_address Метро ст. Бабушкинская, Отрадное, Медведково.
                .b-snippet-meta
                  %a.b-link.b-link_w(href='#lol')<
                    %b.b-ico.b-ico_pseudo.b-ico_external
                      %b.b-ico-i1
                      %b.b-ico-i2
                    %span.b-link-in><
                      dentalstudio.ru
        %a.b-link.b-incut_link(href='#lol') Полный каталог клиник

      %h2.b-header.b-header_middle.b-header_v2 Похожие статьи
      %ul.b-snippets
        %li.b-snippet
          %h3.b-header
            %a.b-link{:href => "#lol"}<
              Что нужно знать про металлокерамические коронки — максимум из четырех строк
          %ul.b-snippet-meta
            %li.b-snippet-meta-item
              15 cентября 2010
            %li.b-snippet-meta-item
              %a.b-link.b-link_comments{:href => "#lol"}
                18 комментариев
        %li.b-snippet
          %h3.b-header
            %a.b-link{:href => "#lol"}<
              Компьютерные системы в функциональном и эстетическом протезировании
          %ul.b-snippet-meta
            %li.b-snippet-meta-item
              2 марта 2010
            %li.b-snippet-meta-item
              %a.b-link.b-link_comments{:href => "#lol"}
                1 комментарий
        %li.b-snippet
          %h3.b-header
            %a.b-link{:href => "#lol"}<
              Что нужно знать про металлокерамические коронки — максимум из четырех строк
          %ul.b-snippet-meta
            %li.b-snippet-meta-item
              4 октября 2009
            %li.b-snippet-meta-item
              %a.b-link.b-link_comments{:href => "#lol"}
                нет комментариев
      %section.b-comments
        %h2.b-header.b-header_middle.b-header_v2
          Комментарии
          %sup 42

        %dl.b-comment
          %dt.b-comment-meta
            %span.b-comment-author Антон Ловчиков
          %dd.b-comment-content.b-text Мне бы то же хотелось видеть эту «протоплазму», из которой родится вот-вот русского народа самость. Может и есть она где, но не она показалась в уличных беспорядках в столице. У этих ребят кровь кипит не праведным гневом, а гормонами.

        %dl.b-comment
          %dt.b-comment-meta
            %span.b-comment-author Алексей Копылов
          %dd.b-comment-content.b-text Ритуал это всегда проверка на «свой-чужой».

        %dl.b-comment.b-comment_special
          %dt.b-comment-meta
            %a.b-comment-author.b-link(href="#lol") Константин Константинопольский
            %span.b-comment-title> , автор
          %dd.b-comment-content.b-text Алексей, это всего лишь безобидная традиция, ритуал.

        %dl.b-comment
          %dt.b-comment-meta
            %a.b-comment-author.b-link(href="#lol") Vertex
          %dd.b-comment-content.b-text Хорошая статья....Она довольно справедливо отражает реальность дел в Нашей столице, да и в России вообще! Да, молодое поколение все чаще выражает свое недовольство нынешним положением дел, и это справедливо, так как власть просто закрывает глаза на многие проблемы...

      %section.b-comments.b-comments_vk
        %h2.b-header.b-header_middle.b-header_v2
          Комментарии Вконтакте
        Тут будет виджет комментариев вконтакте
