---
title: "Diagnosis"
page_type: "diagnosis"
---

.b-page-content.b-cols
  .b-col.b-col_wide>
    .b-header.b-header_big Определение симптомови постановка диагноза

    .b-qa-tip
      %p Вы чистите зубы всего один раз в день, хотя стоматологи всего мира настоятельно рекомендуют чистить зубы не менее двух раз в день.
      %p Кроме этого учитывая то, что вы курите налет оседает на поверхности зубов еще больше из за смол входящих в состав сигареты ;(
    
    .b-qa-adviser

    %dl.b-qa.b-qa_current
      %dt.b-qa-question.b-header 3. Боль возникает
      %dd.b-qa-answers
        %ul.b-qa-answers-in
          %li.b-qa-answer
            %a.b-qa-answer-link.b-link.b-link_js{:href => "#b1"} У одного-двух зубов
          %li.b-qa-answer
            %a.b-qa-answer-link.b-link.b-link_js{:href => "#b2"} Более чем у трёх зубов
        %a.b-qa-reanswer.b-link{:href => "#rec"} Изменить ответ

    %dl.b-qa
      %dt.b-qa-question.b-header 2. Как именно болит зуб?
      %dd.b-qa-answers
        %ul.b-qa-answers-in
          %li.b-qa-answer
            %a.b-qa-answer-link.b-link.b-link_js{:href => "#b1"} Всё время, сколько себя помню
          %li.b-qa-answer.b-qa-answer_selected
            %a.b-qa-answer-link.b-link.b-link_js{:href => "#b2"} От горячего, холоного, сладкого
          %li.b-qa-answer
            %a.b-qa-answer-link.b-link.b-link_js{:href => "#b3"} Интенсивность боли зависит от фазы луны
        %a.b-qa-reanswer.b-link{:href => "#reb"} Изменить ответ

    %dl.b-qa
      %dt.b-qa-question.b-header 1. Что вас беспокоит?
      %dd.b-qa-answers
        %ul.b-qa-answers-in
          %li.b-qa-answer.b-qa-answer_selected
            %a.b-qa-answer-link.b-link.b-link_js{:href => "#a1"} Болит зуб
          %li.b-qa-answer
            %a.b-qa-answer-link.b-link.b-link_js{:href => "#a2"} Образовался странный нарост на затылке
          %li.b-qa-answer
            %a.b-qa-answer-link.b-link.b-link_js{:href => "#a3"} Всё плохо
        %a.b-qa-reanswer.b-link{:href => "#rea"} Изменить ответ

  .b-col.b-col_narrow>
    .b-ad
      .b-ad-title Рекламочка
      .b-ad-in
        %img.b-ad-pic{:src => "http://placekitten.com/240/400", :alt => ""}/
