---
title: "Diagnosis Result"
page_type: "diagnosis"
---

.b-page-content.b-cols
  .b-col.b-col_wide>
    .b-header.b-header_big Определение симптомов и постановка диагноза

    .b-notification.b-notification_warning
      Уважаемые пользователи нашего сайта, помните: диагноз ставится приблизительно и не может заменить осмотр у стоматолога

    %dl.b-notification.b-notification_popup
      %dt.b-notification-header Наиболее вероятный диагноз
      %dd.b-notification-content неполный вывих зуба

    .b-snippet
      .b-snippet-figure
        %img.b-snippet-pic{:src => "http://placekitten.com/200/134", :alt => ""}/
      %h3.b-header
        %a.b-link{:href => "#lol"}<
          Что нужно знать про металлокерамические коронки — максимум из четырех строк
      %ul.b-snippet-meta
        %li.b-snippet-meta-item
          8 ноя
        %li.b-snippet-meta-item
          %a.b-link{:href => "#lol"}
            Профилактика заболеваний
      .b-snippet-content
        Вопрос о том, какой способ реставрации лучше восстановит разрушенный зуб, вкладка, коронка или традиционная пломба, волнует многих пациентов.
        %ul.b-snippet-meta
          %li.b-snippet-meta-item
            %a.b-link.b-link_comments{:href => "#lol"}
              18 комментариев

    .b-header.b-header_middle.b-header_v2 Клиники, где лечат неполный вывих зуба
    .b-cols
      .b-col.b-col_half>
        .b-snippet.b-snippet_mini
          .b-snippet-figure
            %img.b-snippet-pic{:src => "http://placekitten.com/100/100", :alt => ""}/
          .b-snippet-content
            %a.b-link.b-header.b-header_minor.b-header_v2(href='#lol') Dental Studio
            .b-snippet-meta.b-snippet-meta_address Москва, Бабушкинский район, Летчика Бабушкина ул., дом 23 (вход со двора)
            .b-snippet-meta.b-snippet-meta_address Метро ст. Бабушкинская, Отрадное, Медведково.
            .b-snippet-meta
              %a.b-link.b-link_w(href='#lol')<
                %b.b-ico.b-ico_pseudo.b-ico_external
                  %b.b-ico-i1
                  %b.b-ico-i2
                %span.b-link-in><
                  dentalstudio.ru
      .b-col.b-col_half>
        .b-snippet.b-snippet_mini
          .b-snippet-figure
            %img.b-snippet-pic{:src => "http://placekitten.com/100/100", :alt => ""}/
          .b-snippet-content
            %a.b-link.b-header.b-header_minor.b-header_v2(href='#lol') А-Дент
            .b-snippet-meta.b-snippet-meta_address Москва, Бабушкинский район, Летчика Бабушкина ул., дом 23 (вход со двора)
            .b-snippet-meta.b-snippet-meta_address Метро ст. Бабушкинская, Отрадное, Медведково.
            .b-snippet-meta
              %a.b-link.b-link_w(href='#lol')<
                %b.b-ico.b-ico_pseudo.b-ico_external
                  %b.b-ico-i1
                  %b.b-ico-i2
                %span.b-link-in><
                  dentalstudio.ru
    %a.b-link.b-incut_link(href='#lol') Полный каталог клиник
    
  .b-col.b-col_narrow>
    .b-ad
      .b-ad-title Рекламочка
      .b-ad-in
        %img.b-ad-pic{:src => "http://placekitten.com/240/400", :alt => ""}/
