---
title: "Homepage"
page_id: "homepage"
---
%UL.b-cols.b-col.b-col_whole.b-boyan
  %LI.b-col.b-col_half.b-boyan-item.b-boyan-item_current>
    %h2.b-boyan-tab
      Основные заболевания
    .b-snippet
      .b-snippet-figure
        %img.b-snippet-pic{:src => "http://placekitten.com/200/134", :alt => ""}/
      %h3.b-header
        %a.b-link{:href => "#lol1"}<
          Что нужно знать про металлокерамические коронки — максимум из четырех строк
      %ul.b-snippet-meta
        %li.b-snippet-meta-item
          15 cентября
        %li.b-snippet-meta-item
          %a.b-link.b-link_comments{:href => "#lol"}
            18 комментариев
      .b-snippet-content
        Вопрос о том, какой способ реставрации лучше восстановит разрушенный зуб, вкладка, коронка или традиционная пломба, волнует многих пациентов.
  %LI.b-col.b-col_half.b-boyan-item.b-boyan-item_v2{:style => "left: 50%"}>
    %h2.b-boyan-tab
      Удаление зубов
    .b-snippet
      .b-snippet-figure
        %img.b-snippet-pic{:src => "http://placekitten.com/200/134", :alt => ""}/
      %h3.b-header
        %a.b-link{:href => "#lol2"}<
          Что нужно знать про металлокерамические коронки — максимум из четырех строк
      %ul.b-snippet-meta
        %li.b-snippet-meta-item
          15 cентября
        %li.b-snippet-meta-item
          %a.b-link.b-link_comments{:href => "#lol"}
            18 комментариев
      .b-snippet-content
        Вопрос о том, какой способ реставрации лучше восстановит разрушенный зуб, вкладка, коронка или традиционная пломба, волнует многих пациентов.
  %LI.b-col.b-col_half.b-boyan-item.b-boyan-item_v2{:style => "left: 66.6%"}>
    %h2.b-boyan-tab
      Брекет-системы
    .b-snippet
      .b-snippet-figure
        %img.b-snippet-pic{:src => "http://placekitten.com/200/134", :alt => ""}/
      %h3.b-header
        %a.b-link{:href => "#lol3"}<
          Что нужно знать про металлокерамические коронки — максимум из четырех строк
      %ul.b-snippet-meta
        %li.b-snippet-meta-item
          15 cентября
        %li.b-snippet-meta-item
          %a.b-link.b-link_comments{:href => "#lol"}
            18 комментариев
      .b-snippet-content
        Вопрос о том, какой способ реставрации лучше восстановит разрушенный зуб, вкладка, коронка или традиционная пломба, волнует многих пациентов.
  %LI.b-col.b-col_half.b-boyan-item.b-boyan-item_v2{:style => "left: 83.2%"}>
    %h2.b-boyan-tab
      Протезы [new]
    .b-snippet
      .b-snippet-figure
        %img.b-snippet-pic{:src => "http://placekitten.com/200/134", :alt => ""}/
      %h3.b-header
        %a.b-link{:href => "#lol4"}<
          Что нужно знать про металлокерамические коронки — максимум из четырех строк
      %ul.b-snippet-meta
        %li.b-snippet-meta-item
          15 cентября
        %li.b-snippet-meta-item
          %a.b-link.b-link_comments{:href => "#lol"}
            18 комментариев
      .b-snippet-content
        Вопрос о том, какой способ реставрации лучше восстановит разрушенный зуб, вкладка, коронка или традиционная пломба, волнует многих пациентов.

.b-page-content.b-cols
  .b-col.b-col_wide>
    .b-cols
      .b-col.b-col_half>
        .b-snippet.b-snippet_tool.b-snippet_tool_v2
          %h3.b-header.b-header_v2
            Подберите средства индивидуальной гигиены
          .b-snippet-content
            Дорогостоящего лечения у стоматолога можно избежать, если подобрать подходящие именно вам средства профилактики и индивидуальной гигиены
          %a.b-button.b-button_v2(href='#lol')<
            %span.b-button-in<
              Подобрать средство
      .b-col.b-col_half>
        .b-snippet.b-snippet_tool
          %h3.b-header
            Определите симптомы и поставьте диагноз
          .b-snippet-content
            Научившись распознавать популярные заболевания зубов на начальных этапах развития, вы сможете своевременно обратиться к врачу.
          %a.b-button(href='#lol')<
            %span.b-button-in<
              Поставить диагноз
          .b-snippet-content
            %a.b-link{:href => "#lol"} Все диагозы
    %dl.b-term
      %dt.b-header
        %a.b-link{:href => "#lol"}
          Абстракция
      %dd.b-term-content
        .b-term-subheader
          (лат. название — <dfn class="b-term-latin">аbstractio</dfn>)
        .b-term-text
          Удаление, отвлечение — диагностический термин по классификации аномалий видов прикуса по Р. Simon, означающий расположение зубного ряда или части его ниже окклюзионной линии. Абстракция определяется по отношению к франкфуртской горизонтали.
          (Отступ слева будет задаваться контекстно от положения в раскладке)

  .b-col.b-col_narrow>
    .b-ad
      .b-ad-title Рекламочка
      .b-ad-in
        %img.b-ad-pic{:src => "http://placekitten.com/240/400", :alt => ""}/

