---
title: "Terms subpage"
page_type: "terms"
---

.b-page-content.b-cols
  .b-col.b-col_wide>
    .b-header.b-header_big Термины от А до Г
    .b-terms-search
      %form.b-search{:action => ""}>
        %input.b-search-submit{:type => "submit", :value => "Найти термин", :tabindex => "2"}
        %span.b-search-in
          %input.b-search-input{:type => "search", :placeholder => "поиск", :tabindex => "1"}
    
    .b-terms.b-cols
      %ul.b-letterlist.b-col.b-col_half>
        %li.b-letterlist-item.b-letterlist-item_lettered
          %a.b-link(href="../term/")><
            %span.b-letterlist-char>< А
            беррация
        %li.b-letterlist-item
          %a.b-link(href="../term/") Абрахам Карл
        %li.b-letterlist-item
          %a.b-link(href="../term/") Абсолютная слуховая чувствительность
        %li.b-letterlist-item
          %a.b-link(href="../term/") Абсолютный верхний порог ощущений
        %li.b-letterlist-item.b-letterlist-item_lettered
          %a.b-link(href="../term/")><
            %span.b-letterlist-char>< Б
            акэ
        %li.b-letterlist-item
          %a.b-link(href="../term/") Балинтовские группы
        %li.b-letterlist-item
          %a.b-link(href="../term/") Барт
        %li.b-letterlist-item
          %a.b-link(href="../term/") Бартлетт
        %li.b-letterlist-item
          %a.b-link(href="../term/") Бедлам

      %ul.b-letterlist.b-col.b-col_half>
        %li.b-letterlist-item.b-letterlist-item_lettered
          %a.b-link(href="../term/")><
            %span.b-letterlist-char>< В
            кус
        %li.b-letterlist-item
          %a.b-link(href="../term/") Вкусовой анализатор
        %li.b-letterlist-item
          %a.b-link(href="../term/") Влечение
        %li.b-letterlist-item
          %a.b-link(href="../term/") Влечение к жизни
        %li.b-letterlist-item
          %a.b-link(href="../term/") Внимание
        %li.b-letterlist-item.b-letterlist-item_lettered
          %a.b-link(href="../term/")><
            %span.b-letterlist-char>< Г
            ипотимия
        %li.b-letterlist-item
          %a.b-link(href="../term/") Гипофизарное настроение
        %li.b-letterlist-item
          %a.b-link(href="../term/") Гиппократ
        %li.b-letterlist-item
          %a.b-link(href="../term/") Гисофобия

  .b-col.b-col_narrow>
    .b-ad
      .b-ad-title Рекламочка
      .b-ad-in
        %img.b-ad-pic{:src => "http://placekitten.com/240/400", :alt => ""}/
