---
title: "Terms"
page_type: "terms"
---

.b-page-content.b-cols
  .b-col.b-col_wide>
    %dl.b-term.b-term_big
      %dt.b-header.b-header_big
        Абберация
      %dd.b-term-content
        .b-term-text
          Отклонение от нормы; ошибки, нарушения погрешности (<i>лат</i>. aberratio «уклонение, удаление, отвлечение», от <i>лат</i>. aberrare (<i>лат</i>. ab- «от» + <i>лат</i>. errare «блуждать, заблуждаться») — «удаляться, отклоняться»).
        %a.b-link.b-link_w.b-link_back(href='#lol')<
          ←
          %span.b-link-in<
            поиск
  .b-col.b-col_narrow>
    .b-ad
      .b-ad-title Рекламочка
      .b-ad-in
        %img.b-ad-pic{:src => "http://placekitten.com/240/400", :alt => ""}/
