---
title: "Terms"
page_id: "terms"
---

.b-page-content.b-cols
  .b-col.b-col_wide>
    .b-header.b-header_big Словарь терминов
    .b-terms-search
      %form.b-search{:action => ""}>
        %input.b-search-submit{:type => "submit", :value => "Найти термин", :tabindex => "2"}
        %span.b-search-in
          %input.b-search-input{:type => "search", :placeholder => "поиск", :tabindex => "1"}
    
    .b-terms.b-cols
      %ul.b-letterlist.b-col.b-col_half>
        %li.b-letterlist-item.b-letterlist-item_lettered
          %a.b-link(href="#lol")><
            %span.b-letterlist-char>< А
            гава—
            %span.b-letterlist-char>< Г
            угенот
        %li.b-letterlist-item.b-letterlist-item_lettered
          %a.b-link(href="#lol")><
            %span.b-letterlist-char>< Д
            ирижабль—
            %span.b-letterlist-char>< З
            яблик
        %li.b-letterlist-item.b-letterlist-item_lettered
          %a.b-link(href="#lol")><
            %span.b-letterlist-char>< И
            алончель—
            %span.b-letterlist-char>< М
            юсли
        %li.b-letterlist-item.b-letterlist-item_lettered
          %a.b-link(href="#lol")><
            %span.b-letterlist-char>< Н
            афталин—
            %span.b-letterlist-char>< Р
            асстегай
      %ul.b-letterlist.b-col.b-col_half>
        %li.b-letterlist-item.b-letterlist-item_lettered
          %a.b-link(href="#lol")><
            %span.b-letterlist-char>< С
            аакашвили—
            %span.b-letterlist-char>< У
            фа
        %li.b-letterlist-item.b-letterlist-item_lettered
          %a.b-link(href="#lol")><
            %span.b-letterlist-char>< Ф
            аталити—
            %span.b-letterlist-char>< Ш
            ырик
        %li.b-letterlist-item.b-letterlist-item_lettered
          %a.b-link(href="#lol")><
            %span.b-letterlist-char>< Щ
            ипак—
            %span.b-letterlist-char>< Э
            ндохрюнолог
        %li.b-letterlist-item.b-letterlist-item_lettered
          %a.b-link(href="#lol")><
            %span.b-letterlist-char>< Ю
            суф—
            %span.b-letterlist-char>< Я
            шма
  .b-col.b-col_narrow>
    .b-ad
      .b-ad-title Рекламочка
      .b-ad-in
        %img.b-ad-pic{:src => "http://placekitten.com/240/400", :alt => ""}/
