---
title: "Videos"
page_type: "articles"
---

%h2.b-header.b-header_big.b-header_v2
  Видео

.b-page-content.b-cols
  %aside.b-page-sidebar.b-col.b-col_tight>
    %ul.b-menu.b-menu_v<
      %li.b-menu-item><
        %a.b-menu-item-in{:href => "#lol"}
          Пациентам
          %sup>
            32
      %li.b-menu-item><
        %a.b-menu-item-in{:href => "#lol"}
          Хирургия
          %sup>
            11
      %li.b-menu-item><
        %a.b-menu-item-in{:href => "#lol"}
          Ортопедия
          %sup>
            8
  .b-col.b-col_middle>
    .b-snippet.b-snippet_video
      %h3.b-header
        %a.b-link.b-link_w{:href => "#lol"}<
          %span.b-snippet-figure
            %img.b-snippet-pic{:src => "http://placekitten.com/800/536", :alt => ""}/
          %span.b-link-in Кариозные монстры
          %span.b-snippet-meta.b-snippet-meta-item
            20:46
      %ul.b-snippet-meta
        %li.b-snippet-meta-item
          15 cен
        %li.b-snippet-meta-item
          Константин Константинопольский
        %li.b-snippet-meta-item
          %a.b-link{:href => "#lol"}
            Пациентам
      .b-snippet-content
        Вопрос о том, какой способ реставрации лучше восстановит разрушенный зуб, вкладка, коронка или традиционная пломба, волнует многих пациентов.
        %ul.b-snippet-meta
          %li.b-snippet-meta-item
            %a.b-link.b-link_comments{:href => "#lol"}
              18 комментариев
    .b-snippet.b-snippet_video
      %h3.b-header
        %a.b-link.b-link_w{:href => "#lol"}<
          %span.b-snippet-figure
            %img.b-snippet-pic{:src => "http://placekitten.com/400/268", :alt => ""}/
          %span.b-link-in Коррекция десневого края
          %span.b-snippet-meta.b-snippet-meta-item
            6:50
          
      %ul.b-snippet-meta
        %li.b-snippet-meta-item
          29 авн
        %li.b-snippet-meta-item
          Игорь Алексеев
        %li.b-snippet-meta-item
          %a.b-link{:href => "#lol"}
            Хирургия
      .b-snippet-content
        Лекция мирового эксперта по терроризму позволяет проникнуть нам в психологию врага — и это не пустое любопытство.
        %ul.b-snippet-meta
          %li.b-snippet-meta-item
            %a.b-link.b-link_comments{:href => "#lol"}
              5 комментариев

    %dl.b-menu.b-menu_pages
      %dt.b-menu-item Страницы
      %dd.b-menu-item
        %a.b-link.b-link_w
          ←
          %span.b-link-in_extra Ctrl
          %span.b-link-in предудыщая
      %dd.b-menu-item
        %a.b-link.b-link_w(href="#lol")
          %span.b-link-in следующая
          %span.b-link-in_extra Ctrl
          →
    
    %ul.b-menu.b-menu_pages<
      %li.b-menu-item.b-menu-item_current><
        %a.b-menu-item-in 1
      %li.b-menu-item><
        %a.b-menu-item-in{:href => "#lol"} 2
      %li.b-menu-item><
        %a.b-menu-item-in{:href => "#lol"} 3
      %li.b-menu-item><
        %a.b-menu-item-in{:href => "#lol"} 4
      %li.b-menu-item><
        %a.b-menu-item-in{:href => "#lol"} 5
      %li.b-menu-item><
        %a.b-menu-item-in{:href => "#lol"} 6
      %li.b-menu-item><
        %a.b-menu-item-in{:href => "#lol"} 7

  .b-col.b-col_narrow>
    .b-ad
      .b-ad-title Рекламочка
      .b-ad-in
        %img.b-ad-pic{:src => "http://placekitten.com/240/400", :alt => ""}/
