- @prefix = ''
- (item.reps[0].path.gsub(/[^\/]/,'').length-1).times do
  - @prefix+='../'

/ TODO: need non-blocking js includes here
%script{:src => "http://yandex.st/jquery/1.6.3/jquery.min.js"}
%script{:src => @prefix + "j/script.js"}
/ The end.