- @prefix = ''
- (item.reps[0].path.gsub(/[^\/]/,'').length-1).times do
  - @prefix+='../'

%meta{"http-equiv" => "X-UA-Compatible", :content => "IE=EmulateIE7,IE=edge"}
%meta{:charset => "utf-8"}
%meta{:name => "viewport", :content => "width=device-width"}

%link{:rel => "shortcut icon", :type => "image/x-icon", :href => @prefix + "favicon.ico"}

/ TODO: build two versions of stylesheets, on for ie and one for others
%link{:rel => "stylesheet", :href => @prefix + "s/style.css"}
/[if IE]
  %script{:src => @prefix + "s/style_ie.css"}
  %link{:rel => "stylesheet", :href => @prefix + "s/style_ie.css"}
