- @page_id = "b-page_" + @item[:page_id] if @item[:page_id]
!!! 5
%html#nojs.b-page{:class => @page_id}
  %head
    = render 'html/head'
    %title<
      = @item[:title]
  %body
    .b-ad.b-ad_top
      %img.b-ad-pic{:src => "http://placekitten.com/720/90", :alt => ""}/

    .b-layout
      .b-layout-in
        %header.b-page-header.b-cols
          %h1.b-page-logo.b-col.b-col_tight>
            %span.b-page-logo-in
              Зуб мудрости
          %nav.b-page-nav.b-col.b-col_half_padded>
            %ul.b-menu.b-menu_v<
              %li.b-menu-item><
                %a.b-menu-item-in{:href => "#lol"} Статьи
              %li.b-menu-item><
                %a.b-menu-item-in{:href => "#lol"} Видео
            %ul.b-menu.b-menu_v<
              %li.b-menu-item><
                %a.b-menu-item-in{:href => "#lol"} Каталог клиник
              %li.b-menu-item><
                %a.b-menu-item-in{:href => "#lol"} Вопрос-ответ
            %ul.b-menu.b-menu_v<
              %li.b-menu-item><
                %a.b-menu-item-in{:href => "#lol"} Скорая помощь
              %li.b-menu-item><
                %a.b-menu-item-in{:href => "#lol"} Словарь терминов
          .b-col.b-col_narrow>
            search & blah blah
          .b-page-likes.b-col.b-col_half_padded>
            Facebook, Tweet, Vkontakte
            
        = yield
        %footer.b-page-footer.b-cols
          .b-page-copy.b-col.b-col_narrow>
            .b-page-company© Мудрый зуб
            2010, Все права защищены.
          %ul.b-menu.b-col.b-col_wide><
            %li.b-menu-item><
              %a.b-menu-item-in{:href => "#lol"} О проекте
            %li.b-menu-item><
              %a.b-menu-item-in{:href => "#lol"} Реклама
            %li.b-menu-item><
              %a.b-menu-item-in{:href => "#lol"} Партнёрам
    = render "html/foot"
