---
title: "Реклама"
---

/ Большой баннер
.b-ad
  Рекламочка
  .b-ad-in
    %img.b-ad-pic{:src => "http://placekitten.com/240/400", :alt => ""}/

/ Верхний баннер
.b-ad.b-ad_top{:style => "width:900px;"}
  %img.b-ad-pic{:src => "http://placekitten.com/720/90", :alt => ""}/

/ Сниппет под постом
%p TODO