---
title: "Кнопки"
---

/ Кнопка ссылкой
%a.b-button(href='#lol')<
  %span.b-button-in<
    Поставить диагноз

/ Вторая версия
%a.b-button.b-button_v2(href='#lol')<
  %span.b-button-in<
    Подобрать средство

/ Вторая, но кнопкой
%button.b-button.b-button_v2(type='button')<
  %span.b-button-in<
    Подобрать средство
