---
title: "Комментарии"
style: "width:400px"
---

/ Просто комментарий
%dl.b-comment
  %dt.b-comment-meta
    %span.b-comment-author Антон Ловчиков
  %dd.b-comment-content.b-text Мне бы то же хотелось видеть эту «протоплазму», из которой родится вот-вот русского народа самость. Может и есть она где, но не она показалась в уличных беспорядках в столице. У этих ребят кровь кипит не праведным гневом, а гормонами.
  
/ Комментарий от автора
%dl.b-comment.b-comment_special
  %dt.b-comment-meta
    %a.b-comment-author.b-link(href="#lol") Константин Константинопольский
    %span.b-comment-title> , автор
  %dd.b-comment-content.b-text Алексей, это всего лишь безобидная традиция, ритуал.
  
/ Комментарий со всяким пользовательским контентом
%dl.b-comment
  %dt.b-comment-meta
    %span.b-comment-author Антон Ловчиков
  %dd.b-comment-content.b-text
    %p Для начала, абзац какой-то
    
    %ul
      %li И какой-то список
      %li Из трёх пунктов
      %li По которому видно, что можно использовать HTML в комментариях.
  
  
