---
title: "Комментарии"
---

/ Просто комментарий
%dl.b-comment
  %dt.b-comment-meta
    %span.b-comment-author Антон Ловчиков
  %dd.b-comment-content.b-text Мне бы то же хотелось видеть эту «протоплазму», из которой родится вот-вот русского народа самость. Может и есть она где, но не она показалась в уличных беспорядках в столице. У этих ребят кровь кипит не праведным гневом, а гормонами.
  
  
/ Комментарий от автора
%dl.b-comment.b-comment_special
  %dt.b-comment-meta
    %span.b-comment-author Константин Константинопольский
    %span.b-comment-title> , автор
  %dd.b-comment-content.b-text Алексей, это всего лишь безобидная традиция, ритуал.
  
  
