---
title: "Сноски"
---

/ Со звёздочкой
.b-footnotes
  .b-footnotes-in
    %dl.b-footnote#footnote
      %dt.b-footnote-mark *
      %dt.b-footnote-content В статье присутствуют рекламные материалы

/ С циферками
.b-footnotes
  .b-footnotes-in
    %dl.b-footnote#footnote1
      %dt.b-footnote-mark 1.
      %dt.b-footnote-content Ложь
    %dl.b-footnote#footnote2
      %dt.b-footnote-mark 2.
      %dt.b-footnote-content Этот пункт можно не учитывать
    %dl.b-footnote#footnote3
      %dt.b-footnote-mark 3.
      %dt.b-footnote-content Дщкуь шзыгь
