---
title: "Заголовки"
---

/ Простой заголовок
%h3.b-header
  Заголовок

/ Второй вариант
%h3.b-header.b-header_v2
  Заголовок

/ Две строки
%h3.b-header
  Заголовок
  %br
  в две строки

/ Второй со ссылкой
%h3.b-header.b-header_v2
  %a.b-link{:href => "#lol"}
    Заголовок
    %br
    в две строки

/ Большой
%h1.b-header.b-header_big
  Заголовок

/ Большой в две строки
%h1.b-header.b-header_v2.b-header_big
  Заголовок
  %br
  в две строки

/ Средний
%h2.b-header.b-header_middle
  Заголовок
