---
title: "Врезки с бордерами"
style: "width: 50%;"
---

/ Просто врезка с заголовком 
.b-incut
  .b-incut-header Качественные брекеты немецкого производства вы сможете приобрести в следующих кликах:
  .b-incut-content.b-cols
    .b-col.b-col_half>
      .b-snippet.b-snippet_mini
        .b-snippet-figure
          %img.b-snippet-pic{:src => "http://placekitten.com/100/100", :alt => ""}/
        .b-snippet-content
          %a.b-link.b-header.b-header_minor.b-header_v2(href='#lol') Dental Studio
          .b-snippet-meta.b-snippet-meta_address Москва, Бабушкинский район, Летчика Бабушкина ул., дом 23 (вход со двора)
          .b-snippet-meta.b-snippet-meta_address Метро ст. Бабушкинская, Отрадное, Медведково.
          .b-snippet-meta
            %a.b-link.b-link_w(href='#lol')<
              %b.b-ico.b-ico_pseudo.b-ico_external
                %b.b-ico-i1
                %b.b-ico-i2
              %span.b-link-in><
                dentalstudio.ru
    .b-col.b-col_half>
      .b-snippet.b-snippet_mini
        .b-snippet-figure
          %img.b-snippet-pic{:src => "http://placekitten.com/100/100", :alt => ""}/
        .b-snippet-content
          %a.b-link.b-header.b-header_minor.b-header_v2(href='#lol') А-Дент
          .b-snippet-meta.b-snippet-meta_address Москва, Бабушкинский район, Летчика Бабушкина ул., дом 23 (вход со двора)
          .b-snippet-meta.b-snippet-meta_address Метро ст. Бабушкинская, Отрадное, Медведково.
          .b-snippet-meta
            %a.b-link.b-link_w(href='#lol')<
              %b.b-ico.b-ico_pseudo.b-ico_external
                %b.b-ico-i1
                %b.b-ico-i2
              %span.b-link-in><
                dentalstudio.ru
  %a.b-link.b-incut_link(href='#lol') Полный каталог клиник

/ Врезка с неравными половинками и разделителем
.b-incut.b-incut_full.b-incut.b-incut_quirky
  .b-incut-content
    .b-incut-item.b-snippet.b-snippet_mini
      .b-snippet-figure
        %img.b-snippet-pic{:src => "http://placekitten.com/100/100", :alt => ""}/
      .b-snippet-content
        %h3.b-snippet-header Автор статьи
        %a.b-link.b-header(href='#lol') Константин<br/>Константинопольский
        .b-snippet-meta.b-snippet-meta_online
          .b-ico.b-ico_pseudo.b-ico_bullet •
          На сайте
        %a.b-button(href='#lol')<
          %span.b-button-in<
            Задать вопрос
    .b-incut-divider
    .b-incut-item.b-snippet.b-snippet_mini
      %h3.b-snippet-header Автор работает в клинике
      .b-snippet-figure
        %img.b-snippet-pic{:src => "http://placekitten.com/60/60", :alt => ""}/
      .b-snippet-content
        %a.b-link.b-header.b-header_minor.b-header_v2(href='#lol') Dental Tooth Studio
        .b-snippet-meta (831) 438-02-38
        .b-snippet-meta (831) 438-02-38
        .b-snippet-meta
          %a.b-link.b-link_w(href='#lol')<
            %b.b-ico.b-ico_pseudo.b-ico_external
              %b.b-ico-i1
              %b.b-ico-i2
            %span.b-link-in><
              dentalstudio.ru
  .b-incut-helper
  

