---
title: "Врезки с бордерами"
style: "width: 50%;"
---

/ Просто врезка с заголовком 
.b-incut
  .b-incut-header Качественные брекеты немецкого производства вы сможете приобрести в следующих кликах:
  .b-incut-content.b-cols
    .b-col.b-col_half>
      .b-snippet.b-snippet_mini
        .b-snippet-figure
          %img.b-snippet-pic{:src => "http://placekitten.com/100/100", :alt => ""}/
        .b-snippet-content
          %a.b-link.b-header.b-header_minor.b-header_v2(href='#lol') Dental Studio
          .b-snippet-meta.b-snippet-meta_address Москва, Бабушкинский район, Летчика Бабушкина ул., дом 23 (вход со двора)
          .b-snippet-meta.b-snippet-meta_address Метро ст. Бабушкинская, Отрадное, Медведково.
          .b-snippet-meta
            %a.b-link.b-link_w(href='#lol')<
              %b.b-ico.b-ico_pseudo.b-ico_external
                %b.b-ico-i1
                %b.b-ico-i2
              %span.b-link-in><
                dentalstudio.ru
    .b-col.b-col_half>
      .b-snippet.b-snippet_mini
        .b-snippet-figure
          %img.b-snippet-pic{:src => "http://placekitten.com/100/100", :alt => ""}/
        .b-snippet-content
          %a.b-link.b-header.b-header_minor.b-header_v2(href='#lol') А-Дент
          .b-snippet-meta.b-snippet-meta_address Москва, Бабушкинский район, Летчика Бабушкина ул., дом 23 (вход со двора)
          .b-snippet-meta.b-snippet-meta_address Метро ст. Бабушкинская, Отрадное, Медведково.
          .b-snippet-meta
            %a.b-link.b-link_w(href='#lol')<
              %b.b-ico.b-ico_pseudo.b-ico_external
                %b.b-ico-i1
                %b.b-ico-i2
              %span.b-link-in><
                dentalstudio.ru
  %a.b-link.b-incut_link(href='#lol') Полный каталог клиник
