---
title: "Меню"
---

/ Главное
%ul.b-menu<
  %li.b-menu-item><
    %a.b-menu-item-in{:href => "#lol"} Пункт 1
  %li.b-menu-item><
    %a.b-menu-item-in{:href => "#lol"} Пункт 2
  %li.b-menu-item.b-menu-item_current><
    %a.b-menu-item-in{:href => "#lol"} Выбранный со ссылкой
  %li.b-menu-item><
    %a.b-menu-item-in{:href => "#lol"} Пункт 4

/ Вертикальное
%ul.b-menu.b-menu_v<
  %li.b-menu-item.b-menu-item_current><
    %a.b-menu-item-in
      Пункт в несколько
      %br
      строк
  %li.b-menu-item><
    %a.b-menu-item-in{:href => "#lol"} Пункт 3
  %li.b-menu-item><
    %a.b-menu-item-in{:href => "#lol"} Пункт 2
  %li.b-menu-item><
    %a.b-menu-item-in{:href => "#lol"} Пункт 4

/ Архив
%ul.b-menu<
  %li.b-menu-item><
    %a.b-menu-item-in{:href => "#lol"} 2011
  %li.b-menu-item><
    %a.b-menu-item-in{:href => "#lol"} 2012
  %li.b-menu-item.b-menu-item_current><
    %a.b-menu-item-in 2013

/ Паджинация
%ul.b-menu.b-menu_pages<
  %li.b-menu-item.b-menu-item_current><
    %a.b-menu-item-in 1
  %li.b-menu-item><
    %a.b-menu-item-in{:href => "#lol"} 2
  %li.b-menu-item><
    %a.b-menu-item-in{:href => "#lol"} 3
  %li.b-menu-item><
    %a.b-menu-item-in{:href => "#lol"} 4
  %li.b-menu-item><
    %a.b-menu-item-in{:href => "#lol"} 5
  %li.b-menu-item><
    %a.b-menu-item-in{:href => "#lol"} 6
  %li.b-menu-item><
    %a.b-menu-item-in{:href => "#lol"} 7

/ Хлебные крошки
%ul.b-menu.b-menu_crumbs<
  %li.b-menu-item><
    %a.b-link{:href => "#lol"} Словарь терминов
  %li.b-menu-item><
    %a.b-link{:href => "#lol"} Термины от А до Г
