---
title: "Поиск"
style: "width: 300px;"
---

/ Блок поиска
%form.b-search{:action => ""}>
  %input.b-search-submit{:type => "submit", :value => "Найти"}
  %span.b-search-in
    %input.b-search-input{:type => "search", :placeholder => "поиск"}
