---
title: "Сниппеты постов"
style: "width: 50%;"
---

/ Основной
.b-snippet
  .b-snippet-figure
    %img.b-snippet-pic{:src => "http://placekitten.com/200/134", :alt => ""}/
  %h3.b-header
    %a.b-link{:href => "#lol"}<
      Что нужно знать про металлокерамические коронки — максимум из четырех строк
  %ul.b-snippet-meta
    %li.b-snippet-meta-item
      15 cентября
    %li.b-snippet-meta-item
      %a.b-link.b-link_comments{:href => "#lol"}
        18 комментариев
  .b-snippet-content
    Вопрос о том, какой способ реставрации лучше восстановит разрушенный зуб, вкладка, коронка или традиционная пломба, волнует многих пациентов.
    %ul.b-snippet-meta
      %li.b-snippet-meta-item
        %a.b-link.b-link_comments{:href => "#lol"}
          18 комментариев

/ Уменьшенный
.b-snippet.b-snippet_minor
  .b-snippet-figure
    %img.b-snippet-pic{:src => "http://placekitten.com/89/134", :alt => ""}/
  %h3.b-header
    %a.b-link{:href => "#lol"}<
      Ксилит — сладкое средство для борьбы с кариесом
  %ul.b-snippet-meta
    %li.b-snippet-meta-item
      15 cентября
    %li.b-snippet-meta-item
      %a.b-link{:href => "#lol", :rel => "tag"}
        Брекет-системы
  .b-snippet-content
    Вопрос о том, какой способ реставрации лучше восстановит разрушенный зуб, вкладка, коронка или традиционная пломба, волнует многих пациентов.
    %ul.b-snippet-meta
      %li.b-snippet-meta-item
        %a.b-link.b-link_comments{:href => "#lol"}
          18 комментариев

/ Похожие статьи
%ul.b-snippets
  %li.b-snippet
    %h3.b-header
      %a.b-link{:href => "#lol"}<
        Что нужно знать про металлокерамические коронки — максимум из четырех строк
    %ul.b-snippet-meta
      %li.b-snippet-meta-item
        15 cентября 2010
      %li.b-snippet-meta-item
        %a.b-link.b-link_comments{:href => "#lol"}
          18 комментариев
  %li.b-snippet
    %h3.b-header
      %a.b-link{:href => "#lol"}<
        Компьютерные системы в функциональном и эстетическом протезировании
    %ul.b-snippet-meta
      %li.b-snippet-meta-item
        2 марта 2010
      %li.b-snippet-meta-item
        %a.b-link.b-link_comments{:href => "#lol"}
          1 комментарий
  %li.b-snippet
    %h3.b-header
      %a.b-link{:href => "#lol"}<
        Что нужно знать про металлокерамические коронки — максимум из четырех строк
    %ul.b-snippet-meta
      %li.b-snippet-meta-item
        4 октября 2009
      %li.b-snippet-meta-item
        %a.b-link.b-link_comments{:href => "#lol"}
          нет комментариев
