---
title: "Сниппеты постов"
style: "width: 50%;"
---

/ Основной
.b-snippet
  .b-snippet-figure
    %img.b-snippet-pic{:src => "http://placekitten.com/200/134", :alt => ""}/
  %h3.b-header
    %a.b-link{:href => "#lol"}<
      Что нужно знать про металлокерамические коронки — максимум из четырех строк
  %ul.b-snippet-meta
    %li.b-snippet-meta-item
      15 cентября
    %li.b-snippet-meta-item
      %a.b-link.b-link_comments{:href => "#lol"}
        18 комментариев
  .b-snippet-content
    Вопрос о том, какой способ реставрации лучше восстановит разрушенный зуб, вкладка, коронка или традиционная пломба, волнует многих пациентов.
    %ul.b-snippet-meta
      %li.b-snippet-meta-item
        %a.b-link.b-link_comments{:href => "#lol"}
          18 комментариев

/ Уменьшенный
.b-snippet.b-snippet_minor
  .b-snippet-figure
    %img.b-snippet-pic{:src => "http://placekitten.com/89/134", :alt => ""}/
  %h3.b-header
    %a.b-link{:href => "#lol"}<
      Ксилит — сладкое средство для борьбы с кариесом
  %ul.b-snippet-meta
    %li.b-snippet-meta-item
      15 cентября
    %li.b-snippet-meta-item
      %a.b-link{:href => "#lol", :rel => "tag"}
        Брекет-системы
  .b-snippet-content
    Вопрос о том, какой способ реставрации лучше восстановит разрушенный зуб, вкладка, коронка или традиционная пломба, волнует многих пациентов.
    %ul.b-snippet-meta
      %li.b-snippet-meta-item
        %a.b-link.b-link_comments{:href => "#lol"}
          18 комментариев

/ Похожие статьи
%ul.b-snippets
  %li.b-snippet
    %h3.b-header
      %a.b-link{:href => "#lol"}<
        Что нужно знать про металлокерамические коронки — максимум из четырех строк
    %ul.b-snippet-meta
      %li.b-snippet-meta-item
        15 cентября 2010
      %li.b-snippet-meta-item
        %a.b-link.b-link_comments{:href => "#lol"}
          18 комментариев
  %li.b-snippet
    %h3.b-header
      %a.b-link{:href => "#lol"}<
        Компьютерные системы в функциональном и эстетическом протезировании
    %ul.b-snippet-meta
      %li.b-snippet-meta-item
        2 марта 2010
      %li.b-snippet-meta-item
        %a.b-link.b-link_comments{:href => "#lol"}
          1 комментарий
  %li.b-snippet
    %h3.b-header
      %a.b-link{:href => "#lol"}<
        Что нужно знать про металлокерамические коронки — максимум из четырех строк
    %ul.b-snippet-meta
      %li.b-snippet-meta-item
        4 октября 2009
      %li.b-snippet-meta-item
        %a.b-link.b-link_comments{:href => "#lol"}
          нет комментариев

/ Мини-сниппет автора
.b-snippet.b-snippet_mini
  .b-snippet-figure
    %img.b-snippet-pic{:src => "http://placekitten.com/100/100", :alt => ""}/
  .b-snippet-content
    %h3.b-snippet-header Автор статьи
    %a.b-link.b-header(href='#lol') Константин<br/>Константинопольский
    .b-snippet-meta.b-snippet-meta_online
      .b-ico.b-ico_pseudo.b-ico_bullet •
      На сайте
    %a.b-button(href='#lol')<
      %span.b-button-in<
        Задать вопрос
    
/ Мини-сниппет компании
.b-snippet.b-snippet_mini
  %h3.b-snippet-header Автор работает в клинике
  .b-snippet-figure
    %img.b-snippet-pic{:src => "http://placekitten.com/60/60", :alt => ""}/
  .b-snippet-content
    %a.b-link.b-header.b-header_minor.b-header_v2(href='#lol') Dental Tooth Studio
    .b-snippet-meta (831) 438-02-38
    .b-snippet-meta (831) 438-02-38
    .b-snippet-meta
      %a.b-link.b-link_w(href='#lol')<
        %b.b-ico.b-ico_pseudo.b-ico_external
          %b.b-ico-i1
          %b.b-ico-i2
        %span.b-link-in><
          dentalstudio.ru
    
/ Мини-сниппет рекламной клиники
.b-snippet.b-snippet_mini
  .b-snippet-figure
    %img.b-snippet-pic{:src => "http://placekitten.com/100/100", :alt => ""}/
  .b-snippet-content
    %a.b-link.b-header.b-header_minor.b-header_v2(href='#lol') Dental Studio
    .b-snippet-meta.b-snippet-meta_address Москва, Бабушкинский район, Летчика Бабушкина ул., дом 23 (вход со двора)
    .b-snippet-meta.b-snippet-meta_address Метро ст. Бабушкинская, Отрадное, Медведково.
    .b-snippet-meta
      %a.b-link.b-link_w(href='#lol')<
        %b.b-ico.b-ico_pseudo.b-ico_external
          %b.b-ico-i1
          %b.b-ico-i2
        %span.b-link-in><
          dentalstudio.ru
    
