---
title: "Термины"
style: "width: 40%;"
---

/ Обычный термин
%dl.b-term
  %dt.b-header
    %a.b-link{:href => "#lol"}
      Абстракция
  %dd.b-term-content
    .b-term-subheader
      (лат. название — <dfn class="b-term-latin">аbstractio</dfn>)
    .b-term-text
      Удаление, отвлечение — диагностический термин по классификации аномалий видов прикуса по Р. Simon, означающий расположение зубного ряда или части его ниже окклюзионной линии. Абстракция определяется по отношению к франкфуртской горизонтали.
      (Отступ слева будет задаваться контекстно от положения в раскладке)

/ Большой термин
%dl.b-term.b-term_big
  %dt.b-header.b-header_big
    Абберация
  %dd.b-term-content
    .b-term-text
      Отклонение от нормы; ошибки, нарушения погрешности (<i>лат</i>. aberratio «уклонение, удаление, отвлечение», от <i>лат</i>. aberrare (<i>лат</i>. ab- «от» + <i>лат</i>. errare «блуждать, заблуждаться») — «удаляться, отклоняться»).
    %a.b-link.b-link_w.b-link_back(href='#lol')<
      ←
      %span.b-link-in<
        поиск
