---
title: "Текстовые блоки"
style: "width: 50%;"
---

/ Подзаголовок статьи
.b-article-meta
  %time 15 декабря

/ Заголовки
.b-article-text.b-text
  %h1 Заголовок первого уровня
  %p Абзац текста
  %h2 Заголовок второго уровня
  %p Абзац текста
  %h3 Заголовок третьего уровня
  %p Абзац текста
  %h4 Заголовок четвертого уровня
  %p Абзац текста
  %h5 Заголовок пятого уровня
  %p Абзац текста
  %h6 Заголовок шестого уровня
  %p Абзац текста

/ Списки
.b-article-text.b-text
  %ul
    %li Первый пункт
    %li Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
    %li Третий пункт

  %ol
    %li Первый пункт
    %li Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
    %li
      %p Третий пункт
      %ol
        %li Первый пункт
        %li Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
        %li Третий пункт
    

  %dl
    %dt Термин 1
    %dd Описание 1
    %dt Термин 2
    %dd Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
    %dt Термин 3
    %dd Описание 3

