---
title: "Блоки с инструментами"
style: "width: 40%;"
---

/ Подобрать средство
.b-snippet.b-snippet_tool.b-snippet_tool_v2
  %h3.b-header.b-header_v2
    Подберите средства индивидуальной гигиены
  .b-snippet-content
    Дорогостоящего лечения у стоматолога можно избежать, если подобрать подходящие именно вам средства профилактики и индивидуальной гигиены
  %a.b-button.b-button_v2(href='#lol')<
    %span.b-button-in<
      Подобрать средство
  
/ Поставить диагноз
.b-snippet.b-snippet_tool
  %h3.b-header
    Определите симптомы и поставьте диагноз
  .b-snippet-content
    Научившись распознавать популярные заболевания зубов на начальных этапах развития, вы сможете своевременно обратиться к врачу.
  %a.b-button(href='#lol')<
    %span.b-button-in<
      Поставить диагноз
  .b-snippet-content
    %a.b-link{:href => "#lol"} Все диагозы