/* Ads
---------------------------------------*/
.b-ad {
	display: inline-block;
	
	text-align: center;
	vertical-align: top;
	
	color: #8EDBFF;
	}

.b-ad-title {
	display: block;

	font: bold 1.2em/1.5 Arial, sans-serif;
	}

.b-ad-in {
	display: inline-block;
	
	padding: 5px;
	
	vertical-align: top;
	
	background: #E1F6FF;
	
	-webkit-border-radius: 4px;
	   -moz-border-radius: 4px;
	        border-radius: 4px;
	}
	.b-ad-pic {
		vertical-align: top;
		}
	
/* Top */
.b-ad_top {
	display: block;
	border-bottom: 2px solid #E1F6FF;
	}
