.b-layout-in:after {
	content: "";
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	
	background: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAA+gAAAAJAgMAAADcPe7NAAAADFBMVEUAAADH2ej/srL/uN4KBUV3AAAABHRSTlMAgICAhJ1mcQAAADlJREFUSMdjOMCAA9BDogGHODMDPSSQncWCy720kkD2ugAu99JMYjTWR2N9NNZHY3001kdjfbjFOgB94ShYtcZUUQAAAABJRU5ErkJggg==') 0 0  repeat-y;
	background-size: 100% 9px;
	pointer-events: none;
	}

.b-col {
	background: rgba(0,0,0,0.1);
	}
