/* Disclaimer */
.b-disclaimer {
	padding: 5px 15px;
	margin: 0 0 5px;
	
	text-align: center;
	
	font-size: 1.8em;
	font-weight: bold;
	
	color: #FFF;
	text-shadow: 0 1px 1px rgba(0,111,186,.3);
	background: #D0F2FF;
	-webkit-border-radius: 3px;
	   -moz-border-radius: 3px;
	        border-radius: 3px;
	}
