/* Footer
---------------------------------------*/
.b-footer {
	padding: 4em 0;
	}
	.b-footer-copy {
		font-size: 1.4em;
		}
	.b-footer-company {
		padding: .2em 0;
		
		font: 1.5em/1.3 Georgia, serif;
		}
	.b-footer .b-menu {
		margin-left: -14px;
		}
		.b-footer .b-menu-item {
			min-width: 15.5%;
			margin-right: 0;
			}
