/* Headers
---------------------------------------*/
.b-header {
	font: 2.1em/1.238em "ChiftTextRegular", Georgia, serif;
	color: #1181C9;
	}
.b-header .b-link {
	padding: .1em 0;
	color: inherit;
	}
.b-header.b-link {
	padding: .1em 0;
	}

/* Second version */
.b-header_v2 {
	color: #22B583;
	}

/* Big */
.b-header_big {
	font-size: 4.8em;
	line-height: 1.125em;
	}

/* Big */
.b-header_minor {
	font-size: 1.5em;
	}

/* Middle */
.b-header_middle {
	font-size: 3.0em;
	}

/* Sup numbers */
.b-header_big>SUP {
	font-size: 0.58333em;
	}
.b-header_middle>SUP {
	font-size: 0.6em;
	}
