/* Icons
---------------------------------------*/
.b-ico {
	display: inline-block;
	
	vertical-align: middle;
	}

/* Pseudo-icons (without images) */ /**/
.b-ico_pseudo {
	position: relative;
	}

/* Icon for external images */
.b-ico_external {
	width: 10px;
	height: 7px;
	}
	.b-ico_external>.b-ico-i1,
	.b-ico_external>.b-ico-i2 {
		position: absolute;
		}
	.b-ico_external>.b-ico-i1 {
		top: 0;
		left: 2px;
		
		width: 4px;
		height: 2px;
		border: 1px solid;
		border-top-width: 2px;
		}
	.b-ico_external>.b-ico-i2 {
		top: 2px;
		left: 0;
		
		width: 4px;
		height: 4px;
		border: solid;
		border-width: 0 0 1px 1px;
		}

/* Bullet icon */
.b-ico_bullet {
	top: -1px;
	
	font: 22px/.5 Arial,sans-serif;
	}

/* New icon for tab */
.b-ico_new {
	width: 17px;
	height: 24px;

	background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABEAAAAYCAYAAAAcYhYyAAABO0lEQVR42pWUS0vDQBSFu3avy1YUqaVaLaVUItIata804qNrd/6P/FqXCmqNTR/H3tQLt+NlLh74GOZk8mUYmBQAbPBS2EpW4B8kqiANh8DTswWtI4m+g3xRPNa+Sr2EOkcgJaMxlkEILdQzuYQFrmQZPWJx1iGoy0cKd/KZcrAsedgUA2tZqy0xJMN7zJsXUEI945csBnfqwc4a5xJD0l9LtGT1gDEkvVuW/Bmzkxbjl8y7MabHTVCUkTEkNyN8VxvumVAn8Utm11G+IK3U4YQ6xpBcRfgqn/JZEDR38Uuy38s1OahBhOYSQ3I5wGT/iHfCUCcxJJ0+PveqOU6oY/ySabuHj92KiS0pHeJtp+RCPeOXpEGI1+2ien+oJ96LZb9E/kNXxIJEyHSJfJk7DZapEldginSJK7BFPzxQFH3PgYcMAAAAAElFTkSuQmCC) 0 0 no-repeat;
	}
