/* Layout, for really equal columns (each is 5%)
---------------------------------------*/
.b-layout {
	position: relative;
	width: 2.5%;
	height: 100%;
	margin: 0 auto;
	}
.b-layout-in {
	position: relative;
	left: 50%;
	
	overflow: hidden;

	width: 4000%;
	margin-left: -2000%;
	min-height: 100%;
	}

.b-cols {
	position: relative;
	}
	.b-cols_stretch {
		visibility: hidden;
		}
	
.b-col {
	position: relative;
	left: 5%; /* Using left so no need in margins or any hacks */

	display: inline-block;
	vertical-align: top;
	}
	.b-col_whole {
		width: 90%;
		}
		.b-col_whole .b-cols_stretch {
			left: -5.5%;
			width: 111%;
			}
	.b-col_wide {
		width: 65%;
		}
		.b-col_wide .b-cols_stretch {
			left: -7.7%;
			width: 153.9%;
			}
	.b-col_half {
		width: 50%;
		}
		.b-col_half .b-cols_stretch {
			left: -10%;
			width: 200%;
			}
	.b-col_narrow {
		width: 25%;
		}
		.b-col_narrow .b-cols_stretch {
			left: -20%;
			width: 400%;
			}
	.b-col_tight {
		width: 15%;
		}
		.b-col_tight .b-cols_stretch {
			left: -33%;
			width: 666%;
			}
.b-col .b-col {
	left: 0;
	}
.b-cols_stretch .b-col {
	visibility: visible;
	left: 5%;
	}

