/* Layout, for really equal columns (each is 5%)
---------------------------------------*/
.b-layout {
	position: relative;
	width: 2.5%;
	height: 100%;
	margin: 0 auto;
	}
.b-layout-in {
	position: relative;
	left: 50%;
	
	overflow: hidden;

	width: 4000%;
	margin-left: -2000%;
	min-height: 100%;
	}

/* Columns */
.b-cols {
	position: relative;
	
	clear: both;
	}
	.b-cols_stretch {
		visibility: hidden;
		}
	
.b-col {
	position: relative;
	left: 5%; /* Using left so no need in margins or any hacks */

	display: inline-block;
	vertical-align: top;
	}
	.b-col_whole {
		width: 90%;
		}
	.b-col_wide {
		width: 65%;
		}
	.b-col_middle {
		width: 40%;
		margin: 0 5%;
		}
	.b-col_half {
		width: 50%;
		}
		.b-col_half_padded {
			width: 45%;
			padding: 0 0 0 5%;
			}
		
	.b-col_narrow {
		width: 25%;
		}
	.b-col_tight {
		width: 15%;
		}
.b-col .b-col {
	left: 0;
	}
.b-cols_stretch .b-col {
	visibility: visible;
	left: 5%;
	}
