/* Menus
---------------------------------------*/
.b-menu {
	padding: 2px 0 3px;
	
	list-style: none;

	font-size: 1.6em;
	}
	.b-menu-item {
		display: inline-block;

		margin-right: 9px;

		vertical-align: top;
		}
		.b-menu-item .b-link {
			color: #00BF81; /* Move to variable */
			}
		
	.b-menu-item-in {
		position: relative;
	
		display: inline-block;

		padding: 5px 14px 4px;
		margin: -2px 0 -3px;

		text-decoration: none;

		color: #00BF81; /* Move to variable */

		-webkit-border-radius: 6px;
		   -moz-border-radius: 6px;
		        border-radius: 6px;
		}
	.b-menu-item-in:link,
	.b-menu-item-in:visited {
		text-decoration: underline;
		}
/* Hovered item */
A.b-menu-item-in:link:hover,
A.b-menu-item-in:visited:hover {
	z-index: 9;
	color: #E7002D;
	background: #F8E3DE; /* Move to variable */
	}
	
/* Current item */
.b-menu-item_current .b-menu-item-in {
	color: #FFF !important;
	background: #00BF81 !important; /* Move to variable */
	}
	
/* Vertical menu */
.b-menu_v .b-menu-item {
	display: block;
	margin-right: 0;
	}

/* Breadcrumbs */
.b-menu_crumbs .b-menu-item {
	margin-right: 4px;
	}
.b-menu_crumbs .b-menu-item:after {
	content: "/";
	margin-left: 4px;
	}
