/* Homepage
---------------------------------------*/
.b-page_homepage {
	}
	.b-page_homepage .b-snippet .b-header .b-link {
		display: block;
		overflow: hidden;
		text-overflow: ellipsis;
		}
	.b-page_homepage .b-page-content .b-col_narrow {
		text-align: left;
		padding-left: 10px;
		}
	
	.b-page_homepage .b-col_narrow .b-ad {
		margin-top: -1.5em;
		}
	.b-page_homepage .b-term-text {
		padding-right: 7.7%;
		padding-left: 7.7%;
		}
	.b-page_homepage .b-page-content {
		margin-top: 37px;
		}

/* Articles
---------------------------------------*/
.b-page_articles {
	}
	.b-page_articles .b-page-sidebar {
		padding-top: 0;
		}
	.b-page_articles .b-header_big {
		position: relative;
		left: -15px;

		width: 70%;
		margin-left: 25%;
		margin-bottom: 18px;
		}
		.b-page_articles .b-col_middle .b-snippet {
			margin: 0 0 38px -15px;
			}
		.b-page_articles .b-col_middle .b-snippet-figure {
			margin: 0 -20px 0 0;
			}
	.b-page_articles .b-page-content .b-ad {
		margin-bottom: 24px;
		}
	.b-page_articles .b-footnotes,
	.b-page_articles .b-menu_pages {
		margin-left: -15px;
		}

/* Terms
---------------------------------------*/
.b-page_terms .b-page-content .b-col_wide {
	width: 60%;
	margin-right: 5%;
	}
.b-page_terms .b-page-content .b-term {
	margin-top: 4px;
	}
	.b-page_terms .b-page-content .b-term-content {
		margin-left: 8.3%;
		}

/* Diagnosis
---------------------------------------*/
.b-page_diagnosis .b-page-content .b-col_wide {
	width: 60%;
	margin-right: 5%;
	}

.b-page_diagnosis .b-notification_warning,
.b-page_diagnosis .b-notification_popup {
	position: relative;
	left: 15px;
	margin-right: 8.4%;
	margin-left: -15px;
	}

.b-page_diagnosis .b-page-content .b-col_wide>.b-snippet {
	margin: 0 16.8% 2.8em 8.4%;
	}

.b-page_diagnosis .b-page-content .b-col_half .b-snippet_mini {
	margin-top: 14px;
	}
