/* Homepage
---------------------------------------*/
.b-page_homepage {
	}
	.b-page_homepage .b-snippet .b-header .b-link {
		display: block;
		}
	.b-page_homepage .b-page-content .b-col_narrow {
		text-align: left;
		padding-left: 10px;
		}
	
	.b-page_homepage .b-col_narrow .b-ad {
		margin-top: -1.5em;
		}
	.b-page_homepage .b-term-text {
		padding-right: 7.7%;
		padding-left: 7.7%;
		}
	.b-page_homepage .b-page-content {
		margin-top: 37px;
		}

/* Articles
---------------------------------------*/
.b-page_articles {
	}
	.b-page_articles .b-page-sidebar {
		padding-top: 0;
		}
	.b-page_articles .b-header_big {
		position: relative;
		left: -15px;

		width: 70%;
		margin-left: 25%;
		margin-bottom: 18px;
		}
		.b-page_articles .b-col_middle .b-snippet {
			margin: 0 0 38px -15px;
			}
		.b-page_articles .b-col_middle .b-snippet-figure {
			margin: 0 -20px 0 0;
			}
	.b-page_articles .b-page-content .b-ad {
		margin-bottom: 24px;
		}
	.b-page_articles .b-link_archive {
		margin-left: -15px;
		}

	.b-page_articles .b-footnotes {
		margin-left: -15px;
		}

