/* Homepage
---------------------------------------*/
.b-page_homepage {
	}
	.b-page_homepage .b-col_narrow .b-ad {
		margin-top: -1.5em;
		}
	.b-page_homepage .b-snippet_tool {
		padding-left: 15.4%;
		}
	.b-page_homepage .b-term-text {
		padding-right: 7.7%;
		padding-left: 7.7%;
		}
	.b-page_homepage .b-page-content {
		margin-top: 37px;
		}
	