.b-search {
	padding-top: 2px;
	font-size: 1.2em;
	}
	.b-search-submit {
		position: relative;
		top: 3px;
		float: right;
		}
	.b-search-in {
		position: relative;
		left: -3px;
		display: block;
		overflow: hidden;
		padding: 3px;
		}
	.b-search-input {
		width: 100%;
		-webkit-box-sizing: border-box;
		   -moz-box-sizing: border-box;
		        box-sizing: border-box;
		
		}
	
