.b-search {
	padding-top: 5px;
	font-size: 1.2em;
	}
	.b-search-submit {
		float: right;
		}
	.b-search-in {
		display: block;
		overflow: hidden;
		padding-right: 6px;
		}
	.b-search-input {
		width: 100%;
		-webkit-box-sizing: border-box;
		   -moz-box-sizing: border-box;
		        box-sizing: border-box;
		
		}
	
