/* Terms
---------------------------------------*/
.b-term .b-header {
	}
.b-term .b-header .b-link {
	text-decoration: none;
	}
.b-term .b-header A.b-link:hover {
	text-decoration: underline;
	}
.b-term-subheader {
	position: relative;
	
	padding-bottom: .5em;
	
	font-family: Georgia;
	font-size: 1.2em;

	color: #00AA70;
	}
	.b-term-latin {
		font-style: italic;
		}
.b-term-content {
	padding-top: .6em;
	}
	.b-term-text {
		padding-bottom: .5em;
		
		font-size: 1.4em;
		}
	.b-term_big .b-term-text {
		font-size: 1.6em;
		}
	.b-term-content .b-link_back {
		font-size: 1.6em;
		}
