/* Terms
---------------------------------------*/
.b-term .b-header {
	}
.b-term-subheader {
	position: relative;
	
	padding-bottom: .5em;
	
	font-family: "ChiftTextRegular", Georgia, serif;
	font-size: 1.2em;

	color: #00AA70;
	}
	.b-term-latin {
		font-style: italic;
		}
.b-term-content {
	padding-top: .6em;
	}
	.b-term-text {
		padding-bottom: .5em;
		
		font-size: 1.4em;
		}
	.b-term_big .b-term-text {
		font-size: 1.6em;
		}
	.b-term-content .b-link_back {
		font-size: 1.6em;
		}
.b-terms .b-letterlist-item {
	margin-left: 15.5%;
	}
.b-terms .b-letterlist-item .b-link {
	margin-left: -15px;
	}

.b-terms-search {
	margin: 21px 0 57px;
	}
