/* Text
---------------------------------------*/

/* Headers */
.b-text H1,
.b-text H2,
.b-text H3 {
	clear: left;
	
	margin-top: 28px;
	margin-bottom: 12px;
	
	color: #1181C9;
	}
.b-text_ad H1,
.b-text_ad H2,
.b-text_ad H3 {
	color: #22B583;
	}
.b-text H1 {
	font: 3em/1.125em "ChiftTextRegular", Georgia, serif;
	}
.b-text H2 {
	font: 1.875em/1.238em "ChiftTextRegular", Georgia, serif;
	}
.b-text H3 {
	font: 1.3125em/1.238em "ChiftTextRegular", Georgia, serif;
	}
.b-text H4 {
	font: bold 1em/1.238em Arial, sans-serif;
	margin-bottom: .5em;
	}
.b-text H5 {
	font: bold .8em/1.238em Arial, sans-serif;
	margin-bottom: .5em;
	}
.b-text H6 {
	font: bold .7em/1.238em Arial, sans-serif;
	margin-bottom: .5em;
	}

/* Basic margins */
.b-text P,
.b-text UL,
.b-text OL,
.b-text FIGURE {
	margin-bottom: .5em;
	}

/* Lists */
.b-text LI {
	padding: 0 0 .5em 1.375em;

	display: block;
	}
.b-text LI:before {
	content: "—";
	
	float: left;

	width: 1.375em;
	margin-left: -1.375em;

	color: #22B583;
	}
.b-text OL {
	counter-reset:list_item;
	}
	.b-text OL OL {
		counter-reset:sub_list_item;
		}
.b-text OL>LI:before {
	content:counter(list_item) ".";
	counter-increment:list_item;
	width: 1.125em;
	padding: 0 0 0 .25em;
	}
.b-text OL OL>LI {
	padding-left: 2.25em;
	}

.b-text OL OL>LI:before {
	width: 2em;
	margin-left: -2.25em;
	content:counter(list_item) "." counter(sub_list_item) "." ;
	counter-increment:sub_list_item;
	}

.b-text DD {
	padding: 0 0 0.5em 1.375em;
	}

/* Tables */
.b-text TABLE {
	font-size: 12px;
	width: 100%;
	margin-bottom: .5em;
	}
	.b-text THEAD {
		color: #22B583;
		}
	.b-text THEAD TD {
		width: 2em;
		padding: 0;
		}
	.b-text TH {
		font-weight: normal;
		text-align: left;
		vertical-align: top;
		padding: 0.4em 0;
		}
	.b-text TH[rowspan],
	.b-text TH[colspan] {
		font-weight: bold;
		padding: 0;
		}
	.b-text TH[colspan] {
		border-bottom: 1px solid;
		}
	.b-text TD {
		padding: 0.4em 0;
		text-align: left;
		vertical-align: top;
		}

/* Blockquotes */
.b-text BLOCKQUOTE {
/*	margin-bottom: 0.5em;

	font-style: italic;
	color: #666;
*/	}

/* Extras */
.b-text .t-indented {
	padding-left: 1.5em;
	}
.b-text .t-indented-near {
	overflow: hidden;
	}

.b-text .t-left,
.b-text .t-right {
	width: 250px;
	max-width: 47.5%;
	
	-webkit-box-sizing: border-box;
	   -moz-box-sizing: border-box;
	        box-sizing: border-box;
	}

.b-text .t-left {
	float: left;
	clear: left;
	padding: 0 1em 1em 0;
	}
.b-text .t-right {
	float: right;
	clear: right;
	padding: 0 0 1em 1em;
	}
	.b-text .t-left IMG,
	.b-text .t-right IMG {
		margin: 0;
		}
	

/* Figures */
.b-text FIGURE {
	display: block;
	}
	.b-text FIGURE IMG {
		max-width: 100%;
		}
	.b-text FIGCAPTION {
		display: block;

		font-size: 12px;
		font-style: italic;
		color: #6D9BB3;
		}
		.b-text FIGCAPTION HEADER {
			font-size: 16px;
			margin-bottom: .5em;

			color: #87C2E0;
			}

.b-text A:link {
	color: #006FBA;
	}
.b-text A:visited {
	color: #66A9D6;
	color: rgba(0,111,186,.8);
	}
